---
import config from '../../config';
---
<div id="not-as-usual" class="cursor-default hover:cursor-default mt-24"><span class="text-[#0d0d12]">-</span></div>
<div class="mb-24">
        <div class="items-center mb-2  flex justify-center flex-col">
            <h2 class="text-xl font-black bg-gradient-to-r from-[#075E8C] via-[#0CA2F2] to-[#075E8C] text-transparent bg-clip-text">{config.NotAsUsual}</h2>
            <h1 class="mt-4 text-5xl font-bold text-white">{config.NotAsUsualHeading}</h1>
            <div class="mt-10 flex flex-wrap">
                <div class="mt-8 md:mt-0 flex w-[170px] md:w-[170px] my-auto border border-gray-700 rounded-lg px-6 md:py-6 py-8">
                    <div class="ml-4 flex flex-col">
                        <h2 class="cursor-pointer text-[13px] transition-colors duration-1000 ease-linear text-[#d3d3d3] font-bold flex">SOON</h2>
                        <p class="text-[14px] font-regular text-[#d3d3d3]/90"></p>
                 
                    </div>

        
    </div>
</div>    